article {
	background: #CCC;
	border-radius: 1em;
	box-shadow: 10px 10px 5px rgba(0,0,0,0.5);
	margin: 1em auto;
	padding: 1em;
	text-shadow: 5px 5px 5px rgba(0,0,0,0.5);
	width: 50%;

}


body {
	background: #333;
	color: #333;
	font-family: "Helvetica",Arial;
	font-size: 30px;
	text-align: center;

}

.chatLab {
	width: 100%;
	display: block;
}

.controls {

	display: block;
}

.ctrlName {
	width: 40%;
	display: inline-block;
}

.ctrlMsg {
	width: 80%;
	display: inline-block;
}

label {
	font-size: 20px;

}

.msg {

	font-size: 14px;
	margin: 0.5em auto;
	padding: 0.1em;
	width: 100%;
}

.nick {
	font-size: 14px;
	margin: 0.5em auto;
	padding: 0.1em;
}

button {
	font-size: 14px;
	width: 15%;
}
textarea {
	display: block;
	width: 100%;

}